@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@{config.name} v@{config.version}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<meta name=“robots“ content=“noindex, nofollow“>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.css" />
	@{import('head', 'favicon.ico')}
	<link href="/css/default.css?v=@{config.version}" rel="stylesheet" type="text/css" />
	<script>
		// var managerurl="@{!CONFIG('manager-url')}";
		// var currency='@{!config.custom.currency_entity}';
		// var su=JSON.parse('@{json(user)}');
		// var languages=JSON.parse('@{json(config.custom.languages)}');
		// var signals=JSON.parse('@{json(config.custom.signals)}');
	</script>
</head>
<body data-jc="exec,binder" class="themedark">

	<div id="success"><span class="fa fa-check-circle"></span></div>
	<div data-jc="calendar" data-days="@(SU,MO,TU,WE,TH,FR,SO)" data-months="@(January,February,March,April,May,June,July,August,September,October,November,December)" data-today="@(Set date to today)" data-firstday="0"></div>
	<div data-jc="message" data-button="@(Close)"></div>
	<div data-jc="autocomplete"></div>
	<div data-jc="contextmenu"></div>
	<div data-jc="confirm"></div>
	<div data-jc="websocket" data-jc-config="url:/thingshub"></div>
	
	<!-- <div data-jc="loading" class="ui-loading"></div> -->
	<!-- <div data-jc="mqtt" data-jc-config="url:ws\://192.168.0.103\:1884"></div> -->
	<!-- <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script> -->

	<div id="mainmenumobile">
		<a href="javascript:void(0)" data-exec="mainmenu" class="exec mainmenumobile-button"><i class="fa fa-2x fa-navicon"></i></a>
	</div>
	<header>
<!-- 		<div class="mainmenu">
			<div><b>@{config.name}</b> v@{config.version}</div>
			<a href="javascript:void(0)" data-exec="mainmenu" class="exec mainmenu-button"><i class="fa fa-navicon"></i></a>
		</div> -->
		<div class="nameversion"><b>@{config.name}</b> v@{config.version}</div>
		<nav>
			<a class="jrouting" href="/" title="DashBoard"><i class="fa fa-th"></i><span>DashBoard</span></a>
			<a class="jrouting" href="/flowboard/" title="FlowBoard"><i class="fa fa-dashboard"></i><span>FlowBoard</span></a>
			<a class="jrouting" href="/flow/" title="Flow"><i class="fa fa-terminal"></i><span>Flow</span></a>
			@{foreach a in helpers.addons()}
			<a class="jrouting" href="/@{a.value.name}/" title="@{a.value.title}"><i class="fa @{a.value.icon}"></i><span>@{a.value.title}</span></a>
			@{end}
			<div class="bottom">
				<a class="exec" href="#" title="@(Toggle fullscreen)" data-exec="#toggleFullScreen"><i class="fa fa-arrows-alt"></i><span>@(Toogle fullscreen)</span></a>
				<a class="logoff" href="/logoff/" title="@(Sign out)"><i class="fa fa-sign-out"></i><span>@(Sign out)</span></a>
			</div>
		</nav>
	</header>
	

	<div id="body">
		<div data-jc="loading" class="ui-loading hidden"></div>
		<!-- <div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:home;template:/templates/home.html;loading:true"></div> -->
		<div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:dashboard;template:/templates/dashboard.html?v=@{config.version}"></div>
		<div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:flow;template:/templates/flow.html?v=@{config.version}"></div>
		<div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:flowboard;template:/templates/flowboard.html?v=@{config.version}"></div>
		<!-- <div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:devices;template:/templates/devices.html?v=@{config.version};loading:true"></div> -->
		@{foreach a in helpers.addons()}
		<div data-jc="page" class="hidden" data-jc-path="common.page" data-jc-config="if:@{a.value.name};template:/templates/@{a.value.name}.html?v=@{config.version};loading:true"></div>
		@{end}
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/htmlmixed/htmlmixed.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/css/css.min.js"></script>

	<script src="/js/default.js?v=@{config.version}"></script>

	@{section('script')}

	<script>
		@{foreach a in helpers.addons()}
		ROUTE('/@{a.value.name}/', function() {
			SET('common.page', '@{a.value.name}');
		});
		@{end}
	</script>

</body>
</html>
